:root {
  --text-primary: hsl(210, 20%, 2%);
  --red-primary: hsl(357, 77%, 48%);
  --rich-primary: hsl(210, 50%, 1%);
  --darkEB-primary: hsl(211, 21%, 41%);
}
/* Color text */
.rich-text {
  color: var(--rich-primary);
  transition: color 0.3s;
}
a.rich-text:hover {
  color:  var(--darkEB-primary);
}
span.rich-text:hover {
  color:  var(--darkEB-primary);
}
.red-text {
  color: var(--red-primary);
}
.darkEB-text {
  color: var(--darkEB-primary);
}
/* Background Color */
.rich-bg {
  background-color: var(--rich-primary);
}
.red-bg {
  background-color: var(--red-primary);
}
.darkEB-bg {
  background-color: var(--darkEB-primary);
}

body {
  background-color: rgb(243 243 243);
  margin: 0px;
  padding: 0px;
}
textarea {
  resize: none;
}
/*Navbar*/
nav ul li {
  display: inline;
  color: rgb(10, 15, 25);
}
nav ul li a span {
  color: rgb(10, 15, 25);
  font-size: large;
}
#main-nav {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--red-primary);
}
#temp-logo {
  margin: 5px 0px 0px;
}
.navbar {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  background-color: var(--red-primary);
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
}
.navbar:focus-within {
  background-color: aliceblue;
}

.navbar:focus-within .navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 500px;
  display: flex;
  justify-content: center;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--rich-primary);
  text-decoration: none;
}
#form{
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 26%;
}
/*Bottom*/
#info {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red-primary);
}
.spaced-sides {
  padding: 0rem 0.5rem 0rem 0.25rem;
}
.plain-link {
  text-decoration: none;
}