:root {
  --text-primary: hsl(210, 20%, 2%);
  --red-primary: hsl(357, 77%, 48%);
  --rich-primary: hsl(210, 50%, 1%);
  --darkEB-primary: hsl(211, 21%, 41%);
}
/* Color text */
.rich-text {
  color: var(--rich-primary) !important;
  transition: color 0.3s;
}
a.rich-text:hover {
  color:  var(--darkEB-primary);
}
span.rich-text:hover {
  color:  var(--darkEB-primary);
}
.red-text {
  color: var(--red-primary);
}
.darkEB-text {
  color: var(--darkEB-primary);
}
/* Background Color */
.rich-bg {
  background-color: var(--rich-primary);
}
.red-bg {
  background-color: var(--red-primary);
}
.darkEB-bg {
  background-color: var(--darkEB-primary);
}

html, body {
  background: rgb(199,199,199) !important;
  background: linear-gradient(0deg, rgba(199,199,199,1) 0%, rgba(255,255,255,1) 100%) !important;
  color:black;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}
/*Nav*/
.main-nav{
    position: sticky;
    top: 0;
    z-index: 2;
}
.homenav{
background-color: var(--red-primary) !important;
}
#maincontent{
margin: 0% 25% !important;
}
.custombox{
background-color: rgb(234 234 234 / 29%) !important;
}
.logo{
margin-top:2%;
}
#logotext{
    font-size: 232% !important;
    font-weight: 400 !important;
}
#title {
    color: inherit !important;
    text-decoration: none;
}

#title:hover {
    color:inherit;
    text-decoration:none;
    cursor:pointer;
}
#Dextitle{
    display: flex;
    justify-content: center;
    font-size: 232% !important;
    font-weight: 400 !important;
}
#Dexcreator{
    display: flex;
    justify-content: center;
    font-size: 232% !important;
    font-weight: 400 !important;
}
#Appname{
    font-size: 232% !important;
    font-weight: 400 !important;
}
/*Bottom*/
#info {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red-primary);
}
.spaced-sides {
  padding: 0rem 0.5rem 0rem 0.25rem;
}
.plain-link {
  text-decoration: none;
}