<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" style="overflow-y: auto">
<head>
    <meta charset="UTF-8">
    <title>dexmainview</title>
    <link rel="stylesheet" href="alldexview.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <nav class="navbar homenav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand navbar-start">
            <img th:src="@{/images/pokehostlogo.jpeg}" width="53">
            <a th:href="@{/}" id="title">
                <h1>PokeHost</h1>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-dark"th:href="@{/logout}">
                        Log Out
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div>
        <h1>All Dexes</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Creator</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pokedex: ${dexlist}">
                <td th:text="${pokedex.dexname}">Name</td>
                <td th:text="${pokedex.creator.userName}">creator</td>
                <td><a th:href="@{/dexdetail}">
                    view details
                </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="info">
        <div id="copyright-info">
            <p class="rich-text">Pokémon is © 1995 Nintendo</p>
        </div>
        <div id="contact-info">
            <a href="#" class= "rich-text plain-link spaced-sides" target="_blank">contact us</a>
            <a href="https://discord.gg/ekX6qfHkEK" class="rich-text plain-link spaced-sides" target="_blank">discord</a>
        </div>
    </div>
</body>
</html>