<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" style="overflow-y: auto">
<head>
    <meta charset="UTF-8">
    <title>dexmainview</title>
    <link rel="stylesheet" href="alldexview.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<div class="main-nav">
    <nav class="navbar homenav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand navbar-start">
            <img th:src="@{/images/pokehostlogo.jpeg}" width="53">
            <h1 class="rich-text">PokeHost</h1>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable is-dark">
                    <a class="navbar-link rich-text">
                        Create
                    </a>
                    <div class="navbar-dropdown ">
                        <a class="navbar-link" onclick="modallever()">
                            Create a Dex
                        </a>
                        <a th:href="@{/poke_create}" class="navbar-item">
                            Create a Pokemon
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable is-dark">
                    <a class="navbar-link rich-text">
                        View
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" th:href="@{/users}">
                            Users
                        </a>
                        <a class="navbar-item" th:href="@{/dex_main_view}">
                            View all Pokédex
                        </a>
                        <a class="navbar-item" th:href="@{/pokemon_view}">
                            View your Pokémon
                        </a>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-dark" href="#" th:href="@{/logout}">
                            Log Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div>

</div>

<div id="dex-div">
    <h1 class="rich-text">All Dexes</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pokedex: ${dexlist}">
            <td th:text="${pokedex.dexname}">Name</td>
            <td th:text="${pokedex.creator.userName}">creator</td>
            <td><a th:href="@{/dex_detail/{id}(id=${pokedex.id})}">
                view details
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>

</div>
<div id="info">
    <div id="copyright-info">
        <p class="rich-text">Pokémon is © 1995 Nintendo</p>
    </div>
    <div id="contact-info">
        <a href="#" class="rich-text plain-link spaced-sides" target="_blank">contact us</a>
        <a href="https://discord.gg/ekX6qfHkEK" class="rich-text plain-link spaced-sides" target="_blank">discord</a>
    </div>
</div>
<script src="modal.js"></script>
</body>
</html>