<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PokéHost</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<ul id="navbar">
  <li id="temp-logo"><h1 class="rich-text"><img src="images/Pokehostlogo.png" alt="FanMade Pokéball" width="30" height="30">PokeHost</h1></li>
  <li><a href="#" class="rich-text">Sign In</a></li>
  <li><a href="#" class="rich-text">Log In</a></li>
</ul>
<div id="pages-div" class="panel-group">
  <div id="pages-content-div" class="panel panel-defualt">
    <div id="pages-content" class="panel-collapse collapse" aria-expanded="false" style="height: 0px">
      <a href="#" class="panel-body rich-text">Users</a>
      <a href="#" class="panel-body rich-text">Dex</a>
      <a href="#" class="panel-body rich-text">Mon</a>
    </div>
  </div>
  <div class="collapsible">
    <button id="pages-btn" type="button" data-toggle="collapse" data-target="#pages-content" aria-expanded="false" aria-controls="collapseExample">▼</button>
  </div>
</div>
<div id="description-div">
  <h2 id="About">About</h2>
  <p id="About-description">
    Welcome to PokéHost! Here, you'll be able to easily create and share your own Pokémon and Pokédices.

  </p>

</div>
<div id="info">

  <div id="copyright-info">
    <p class="rich-text">Pokémon is © 1995 Nintendo</p>
  </div>

  <div id="contanc-info">
    <a href="#" class="rich-text" target="_blank">email</a>
    <a href="https://discord.gg/ekX6qfHkEK" target="_blank" class="rich-text">discord</a>
  </div>
</div>
</body>
<script src="main.js"></script>
</html>