<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="pokecreate.css">
  <title>PokéCreate</title>
</head>
<body>
<nav id="main-nav">
  <ul id="nav" class="navbar-nav">
    <li><h1 class="rich-text"><img id="temp-logo" src="Pokehostlogo.png" alt="FanMade Pokéball" width="30" height="30">PokeHost</h1></li>
    <li>
      <a th:href="@{/signup}" class="rich-text nav-link"><span class="rich-text">Sign up</span></a>
    </li>
    <li>
      <a th:href="@{/login}" class="rich-text nav-link"><span class="rich-text">Login</span></a>
    </li>
  </ul>
</nav>
<div id="form">
    <form th:action="@{/process_pokemon}" th:object="${pokemon}"
          method="post">
        <!--  Name-->
          <div id = "p-name">
                <label class="col-form-label">Name </label>
                <input id = "name" type="text" th:field="*{name}" class="form-control" required/>
          </div>

        <!-- Desc -->
          <div id = "p-desc">
                <label class="col-form-label">Entry </label>
                <textarea id = "entry" data-gramm_editor="false" type="text" th:field="*{entry}" class="form-control" required></textarea>
          </div>
        <div id = "box">
            <div id="first">
                <!--  Height-->
                  <div id = "p-height">
                        <label class="col-form-label">Height </label>
                        <input id = "height" type="text" th:field="*{height}" class="form-control" required />
                  </div>
                <!--Weight-->
                  <div id = "p-weight">
                        <label class="col-form-label">Weight </label>
                        <input id = "weight" type="text" th:field="*{weight}" class="form-control" required />
                  </div>
                <!--  Gender-->
                  <div id = "p-gender">
                      <input type="radio" id="Male" name="gender" value="Male">
                      <label for="Male">Male</label><br>
                      <input type="radio" id="Female" name="gender" value="Female">
                      <label for="Female">Female</label><br>
                      <input type="radio" id="Genderless" name="gender" value="Genderless">
                      <label for="Genderless">Genderless</label> <br>
                  </div>
            </div>
            <div id="sec">
                <!--  Category-->
                  <div id = "p-cat">
                        <label class="col-form-label">Category </label>
                        <input id = "category" type="text" th:field="*{category}" class="form-control" required />
                  </div>

                <!--  Abilities-->
                  <div id = "p-abil">
                        <select class="form-control" th:field="*{ability}">
                          <option value= 3  >select Ability</option>
                          <option th:each="abilities: ${abilityList}" th:value="${abilities.id}" th:text="${abilities.name}"></option>
                        </select>
                  </div>
            </div>
        </div>
        <!--  Type-->
          <div id = "p-type">
                <label class="col-form-label">Type</label>
                <input id = "type" type="text" th:field="*{types}" class="form-control" required />
          </div>
        <div id = "submit">
            <button type="submit" class="submit-btn">Submit</button>
        </div>
    </form>
</div>
<div id="info">
    <div id="copyright-info">
        <p class="rich-text">Pokémon is © 1995 Nintendo</p>
    </div>
    <div id="contact-info">
        <a href="#" class= "rich-text plain-link spaced-sides" target="_blank">contact us</a>
        <a href="https://discord.gg/ekX6qfHkEK" class="rich-text plain-link spaced-sides" target="_blank">discord</a>
    </div>
</div>
<script src="main.js"></script>
</body>
</html>