<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" style="overflow-y: auto">
<head>
    <meta charset="UTF-8">
    <title>Pokémon Detail View</title>
    <link rel="stylesheet" type="text/css" th:href="@{/pokeDetailView.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
<div sec:authorize="isAuthenticated()" class="main-nav">
    <nav class="navbar homenav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand navbar-start">
            <img th:src="@{/images/pokehostlogo.jpeg}" width="53">
            <a th:href="@{/}" id="title">
                <h1>PokeHost</h1>
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-dark"th:href="@{/logout}">
                        Log Out
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div id="poke-box" class="tile is-ancestor">
    <section id="poke-section" class="tile is-parent is-8 is-vertical" th:object="${pokemon}">
        <div class="tile is-child is-4 box">
            <p id="name" class="title"><span th:text="${pokemon.name}"></span></p>
            <p id="entry">Entry: <span th:text="${pokemon.entry}"></span></p>
        </div>
        <div class="tile is-child is-4 box">
            <p id="height">Height: <span th:text="${pokemon.Height}"></span></p>
            <p id="weight">Weight: <span th:text="${pokemon.Weight}"></span></p>
            <p id="gender">Gender: <span th:text="${pokemon.gender}"></span></p>
            <p id="category">Category: <span th:text="${pokemon.Category}"></span></p>
            <p id="ability">Ability: <span th:text="${pokemon.Ability.name}"></span></p>
        </div>
        <div class="tile is-child is-4 box">
        <p id="types">types: <span th:text="${pokemon.types}"></span></p>
        <p id="votes">votes: <span th:text="${pokemon.votes}"></span></p>
        </div>
    </section>
</div>

<div class="info">
    <div id="copyright-info">
        <p class="rich-text">Pokémon is © 1995 Nintendo</p>
    </div>

    <div id="contact-info">
        <a href="#" class="rich-text plain-link spaced-sides" target="_blank">contact us</a>
        <a href="https://discord.gg/ekX6qfHkEK" class="rich-text plain-link spaced-sides" target="_blank">discord</a>
    </div>
</div>
<script src="main.js"></script>
</body>
</html>