<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-y: auto">
<head>
    <meta charset="UTF-8">
    <title>Pokémon Detail View</title>
    <link rel="stylesheet" type="text/css" th:href="@{/pokeDetailView.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
<div class="main-nav">
    <nav class="navbar homenav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand navbar-start">
            <img th:src="@{/images/pokehostlogo.jpeg}" width="53">
            <a th:href="@{/}" id="title">
                <h1 class="rich-text">PokeHost</h1>
            </a>
        </div>
        <div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable is-dark">
                    <a class="navbar-link rich-text">
                        Create
                    </a>
                    <div class="navbar-dropdown ">
                        <a class="navbar-link" onclick="modallever()">
                            Create a Dex
                        </a>
                        <a th:href="@{/poke_create}" class="navbar-item">
                            Create a Pokemon
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable is-dark">
                    <a class="navbar-link rich-text">
                        View
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" th:href="@{/users}">
                            Users
                        </a>
                        <a class="navbar-item" th:href="@{/dex_main_view}">
                            View all Pokédex
                        </a>
                        <a class="navbar-item" th:href="@{/pokemon_view}">
                            View your Pokémon
                        </a>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-dark" href="#" th:href="@{/logout}">
                            Log Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div id="poke-box" class="tile is-ancestor">
    <section id="poke-section" class="tile is-parent is-12 is-vertical" th:object="${pokemon}">
        <div class="tile is-child is-8 box">
            <p id="poke-name" class="title details"><span th:text="${pokemon.name}"></span></p>
            <p id="entry" class="details"><span th:text="${pokemon.entry}"></span></p>
            <p id="height" class="details">Height: <span th:text="${pokemon.Height}"></span></p>
            <p id="weight" class="details">Weight: <span th:text="${pokemon.Weight}"></span></p>
            <p id="gender" class="details">Gender: <span th:text="${pokemon.gender}"></span></p>
            <p id="category" class="details">Category: <span th:text="${pokemon.Category}"></span></p>
            <p id="ability" class="details">Ability: <span th:text="${pokemon.Ability.name}"></span></p>
            <p id="types" class="details">types: <span th:text="${pokemon.types}"></span></p>
        </div>
    </section>
</div>

<div class="info">
    <div id="copyright-info">
        <p class="rich-text">Pokémon is © 1995 Nintendo</p>
    </div>

    <div id="contact-info">
        <a href="#" class="rich-text plain-link spaced-sides" target="_blank">contact us</a>
        <a href="https://discord.gg/ekX6qfHkEK" class="rich-text plain-link spaced-sides" target="_blank">discord</a>
    </div>
</div>
<!--  Modal-->
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create Dex</p>
            <button type="button" class="close" data-dismiss="modal" onclick="modallever()">
                <span>×</span>
            </button>
        </header>
        <section class="modal-card-body">
            <form th:action="@{/process_dex}" th:object="${dex}"
                  method="post">
                <div id="p-name">
                    <label class="col-form-label">Name </label>
                    <input id="name" type="text" th:field="*{dexname}" class="form-control"/>
                </div>
                <footer class="modal-card-foot">
                    <button type="submit" class="submit-btn button is-success">Submit</button>
                    <button type="button" class="button" data-dismiss="modal" onclick="modallever()">Close</button>
                </footer>
            </form>
        </section>
    </div>
</div>
<script src="modal.js"></script>
</body>
</html>